$back-color-first:#003b4e;
$back-second:#9cc802;

$color-first:#FFF;
$color-second:#9cc802;
$color-screen:#003b4e;

$botton-first:#9cc802;

$success:#dff0d8;
$info:#d9edf7;
$warning:#fcf8e3;
$danger:#f2dede;

$pathLogo : "../../../assets/images/logo-saqueepague.png";